<%- include('../header') %>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>รายชื่อคุณหมอ</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <table class="table">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">เลขบัตรประชาชน</th>
            <th class="text-center">ชื่อ-นามสกุล</th>
            <th class="text-center">เบอร์โทรศัพท์</th>
            <th class="text-center">คลินิก</th>
            <th class="text-center">เฉพาะทาง</th>
        </tr>
    </table>
</section>
<%- include('../footer') %>